.App-header {
  margin: 50px auto;
  text-align: center;
}

.App-header h1 {
  font-size: 45px;
}

.App-header p {
  color: #1C6DD0;
  font-size: 20px;
  font-weight: bold;
}

.App footer {
  margin: 20px auto;
  text-align: center;
}
